<br />
<p id="nosapplewatchs">NOS APPLES WATCHS</p>

<br /><br /><br /><br />

<div class="container">
  <div class="row">
    <div
      *ngFor="
        let applewatch of filterinputsearch
          | paginate: { itemsPerPage: 6, currentPage: pa }
      "
      class="paginate"
    >
      <div
        class="card horizontal"
        id="cardhorizontal"
        (click)="goTodetailapplewatch(applewatch)"
        iphoneBorderCard
      >
        <div class="card-image">
          <img
            class="materialboxed"
            [src]="applewatch.picture1"
            height="190px"
            width="190px"
          />
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <p id="nom">{{ applewatch.name }}</p>
            <style>
              #nom {
                font-size: 12.3px;
                font-weight: bolder;
              }
            </style>
            <br />
            <!--<button
              class="btn btn-secondary"
              (click)="goTodetailapplewatch(applewatch)"
              id="plus-de-detail"
            >
              <span>Plus de details</span>
            </button>-->

            &nbsp;
            <button
              (click)="goToapplewatchacheter(applewatch)"
              class="btn btn-warning"
            >
              ACHETER
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="stylepaginate">
  <pagination-controls (pageChange)="pa = $event"></pagination-controls>
</div>
<style>
  #plus-de-detail {
    font-size: 10.3px;
  }
</style>
<br /><br /><br />
<div>
  <div id="appleiphone">Apple iphone</div>
  <br /><br />
  <div class="titre">
    Tous les modèles d'iPhone populaires chez La Difference
  </div>
  <div class="soustitre">
    Commandez chez La Différence les modèles les plus populaires de la famille
    Apple, comme l'iPhone 8, l'iPhone X ou l'iPhone 7. Vous trouverez une bonne
    sélection de smartphones de haute qualité et d'accessoires assortis dans la
    boutique en ligne La Difference.
  </div>
  <br /><br />
  <div class="titre">Iphone 13</div>
  <div class="soustitre">
    La keynote virtuelle d'Apple a eu lieu le 14 septembre 2021, au cours de
    laquelle les secrets de l'iPhone 13 et d'autres nouveautés ont été révélés.
    Le nouveau fleuron d'Apple s'appelle iPhone 13 et a fait des progrès
    significatifs par rapport à son prédécesseur direct. Il s'agit notamment
    d'un processeur plus puissant, d'une batterie plus longue, de ProMotion -
    l'ajustement adaptatif du taux de rafraîchissement jusqu'à 120 Hz - ainsi
    que d'une caméra nettement améliorée avec le "mode cinématique", qui crée
    réellement une sensation de cinéma. Tout cela est rendu possible par la
    nouvelle puce A15 Bionic, qui fonctionne plus efficacement et est nettement
    plus puissante. Le verre frontal Ceramic Shield contribue à la résistance
    aux rayures requise pour l'écran Super Retina XDR. En ce qui concerne la
    résistance à l'eau et à la poussière, toute la famille de l'iPhone 13 a reçu
    la norme de protection IP68. Découvrez tous les modèles de l'iPhone 13 avec
    nous!
  </div>
  <br /><br />
  <div class="titre">Iphone 12</div>
  <div class="soustitre">
    Enfin l'événement Apple pour le nouvel iPhone 12 est fixé ! Le 13.10.2020,
    l'attente prendra fin et vous découvrirez quels nouveaux modèles d'iPhone
    seront bientôt disponibles. À partir du 13.10.2020, vous pourrez avoir un
    aperçu de tous les nouveaux modèles d'iPhone 12 et les précommander dès que
    possible dans tous les magasins Fust ou en ligne.
  </div>
  <br /><br />
  <div class="titre">Iphone SE</div>
  <div class="soustitre">
    Le très convoité iPhone SE est de retour ! Avec le remake du classique,
    Apple a créé un superbe iPhone. L'iPhone SE possède la puce la plus
    puissante et est dans la taille la plus populaire du marché - au prix le
    plus bas de l'iPhone. Maintenant disponible à la boutique en ligne
    Différence ou dans nos magasins.
  </div>
  <br /><br />
  <div class="titre">Iphone 11</div>
  <div class="soustitre">
    À l'occasion de la conférence Apple Keynote 2019, la famille Apple s'est
    agrandie. Les nouveaux produits - Apple iPhone 11, Apple iPhone 11 Pro,
    Apple iPhone 11 Pro Max - ont été présentés. Achetez le nouvel iPhone 11 /
    iPhone 11 Pro / iPhone 11 Pro Max dès maintenant en ligne ou dans nos
    magasins La Différence.
  </div>
</div>
<br /><br />
<div>
  <div id="appleiphone">Notre galerie</div>
  <br /><br />
  <div class="display-image">
    <div class="row">
      <div class="col s12 m7">
        <div class="card">
          <div class="card-image">
            <img
              src="/assets/photos-iphone/IMG_3758.jpeg"
              height="350px"
              class="materialboxed"
            />

            <span class="card-title">vente XR</span>
            <div class="card-content">
              <p>
                Deux XR 64 giga pour un couple heureux. <br />
                <span id="gras"> La Différence, maison du bonheur.</span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span id="bloque">
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </span>
    <div class="row">
      <div class="col s12 m7">
        <div class="card">
          <div class="card-image">
            <img
              src="/assets/photos-iphone/IMG_2768.jpeg"
              height="350px"
              class="materialboxed"
            />
            <span class="card-title">vente XR</span>
            <div class="card-content">
              <p>
                Tout est disponible. <br />
                <span id="gras"> La Différence, maison du bonheur.</span>
                <style>
                  #gras {
                    font-weight: bolder;
                  }
                </style>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <a
    class="waves-effect light-blue darken-4 btn"
    href="galerie.html"
    id="boutonposition"
  >
    <i class="material-icons left">camera_alt </i> visiter notre galerie</a
  >
</div>
