#nosapplewatchs {
  margin-left: 10rem;
  font-size: 40px;
  font-weight: bolder;
}
.paginate {
  width: 440px;
}
.stylepaginate {
  margin-left: 46rem;
  width: 300px;
  text-align: center;
  background-color: black !important;
  color: black !important;
}
/**
  nav {
    background-color: #0000 !important;
  }
  */
.positionsearch {
  margin-left: 35rem;
  display: flex;
}
.positioninput {
  width: 600px;
}
#appleiphone {
  color: #ffd700;
  margin-left: 5rem;
  font-size: 22px;
  font-weight: bolder;
}
.titre {
  font-weight: bolder;
  font-size: 28px;
  margin-left: 15rem;
}
.soustitre {
  margin-left: 15rem;
  color: gray;
  width: 1000px;
}

/** DEBUT RESPONSIVE**/

@media screen and (max-width: 896px) {
  #nosapplewatchs {
    margin-left: 5rem;
    font-size: 30px;
    font-weight: bolder;
  }
  .stylepaginate {
    margin-left: 6rem;
    width: 232.8px;
    height: 20px;
    text-align: center;
    background-color: black !important;
    color: black !important;
  }
  .paginate {
    width: 240px;
  }
  img {
    height: 100px;
    width: 150px;
  }
  #appleiphone {
    margin-left: 0.5rem;
    font-size: 15px;
  }
  .titre {
    font-weight: bolder;
    font-size: 17px;
    margin-left: 1rem;
  }
  .soustitre {
    margin-left: 1.5rem;
    font-size: 12px;
    color: gray;
    width: 400px;
  }
}
