<br />
<p id="nosapplewatchs">NOS APPLES WATCHS</p>

<br /><br /><br />

<div class="container">
  <div class="row">
    <div
      *ngFor="
        let applewatch of filterinputsearch
          | paginate: { itemsPerPage: 6, currentPage: pa }
      "
      class="paginate"
    >
      <div
        class="card horizontal"
        id="cardhorizontal"
        (click)="goTodetailapplewatch(applewatch)"
        iphoneBorderCard
      >
        <div class="card-image">
          <img
            class="materialboxed"
            [src]="applewatch.picture1"
            height="190px"
            width="190px"
          />
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <p class="ecrisdanscard">{{ applewatch.name }}</p>
            <style>
              .ecrisdanscard {
                font-size: 12.3px;
                font-weight: bolder;
              }
            </style>
            <br />
            <!--<button
              class="btn btn-secondary"
              (click)="goTodetailapplewatch(applewatch)"
              id="plus-de-detail"
            >
              <span>Plus de details</span>
            </button>-->

            &nbsp;
            <button
              (click)="goToapplewatchacheter(applewatch)"
              class="btn btn-warning"
            >
              ACHETER
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="stylepaginate">
  <pagination-controls (pageChange)="pa = $event"></pagination-controls>
</div>
<style>
  #plus-de-detail {
    font-size: 10.3px;
  }
</style>
<br /><br /><br />
<div>
  <div class="appleiphone">Apple iphone</div>
  <br /><br />
  <div class="titre">Iphone 14</div>
  <div class="soustitre">
    Apple lance sa nouvelle gamme d'iPhone qui succède à l'iPhone 13 : l'iPhone
    14. Avec une date de sortie prévue le 7 septembre 2022, la nouvelle gamme
    d'iPhone propose quatre modèles : l'iPhone 14 , l'iPhone 14 Plus, l'iPhone
    14 Pro et l'iPhone 14 Pro Max. Des innovations sur le module photo, une
    batterie avec la plus grosse autonomie jamais vu sur un iPhone ou encore un
    nouveau type de SOS disponible sans réseau ni wifi font de l'iPhone 14, la
    nouveauté de la fin 2022.
  </div>
  <br /><br />
  <div class="titre">Iphone 13</div>
  <div class="soustitre">
    La keynote virtuelle d'Apple a eu lieu le 14 septembre 2021, au cours de
    laquelle les secrets de l'iPhone 13 et d'autres nouveautés ont été révélés.
    Le nouveau fleuron d'Apple s'appelle iPhone 13 et a fait des progrès
    significatifs par rapport à son prédécesseur direct. Il s'agit notamment
    d'un processeur plus puissant, d'une batterie plus longue, de ProMotion -
    l'ajustement adaptatif du taux de rafraîchissement jusqu'à 120 Hz - ainsi
    que d'une caméra nettement améliorée avec le "mode cinématique", qui crée
    réellement une sensation de cinéma. Tout cela est rendu possible par la
    nouvelle puce A15 Bionic, qui fonctionne plus efficacement et est nettement
    plus puissante. Le verre frontal Ceramic Shield contribue à la résistance
    aux rayures requise pour l'écran Super Retina XDR. En ce qui concerne la
    résistance à l'eau et à la poussière, toute la famille de l'iPhone 13 a reçu
    la norme de protection IP68. Découvrez tous les modèles de l'iPhone 13 avec
    nous!
  </div>
  <br /><br />
  <div class="titre">Iphone 12</div>
  <div class="soustitre">
    Enfin l'événement Apple pour le nouvel iPhone 12 est fixé ! Le 13.10.2020,
    l'attente prendra fin et vous découvrirez quels nouveaux modèles d'iPhone
    seront bientôt disponibles. À partir du 13.10.2020, vous pourrez avoir un
    aperçu de tous les nouveaux modèles d'iPhone 12 et les précommander dès que
    possible dans tous les magasins Fust ou en ligne.
  </div>
  <br /><br />
  <div class="titre">Iphone SE</div>
  <div class="soustitre">
    Le très convoité iPhone SE est de retour ! Avec le remake du classique,
    Apple a créé un superbe iPhone. L'iPhone SE possède la puce la plus
    puissante et est dans la taille la plus populaire du marché - au prix le
    plus bas de l'iPhone. Maintenant disponible à la boutique en ligne
    Différence ou dans nos magasins.
  </div>
  <br /><br />
  <div class="titre">Iphone 11</div>
  <div class="soustitre">
    À l'occasion de la conférence Apple Keynote 2019, la famille Apple s'est
    agrandie. Les nouveaux produits - Apple iPhone 11, Apple iPhone 11 Pro,
    Apple iPhone 11 Pro Max - ont été présentés. Achetez le nouvel iPhone 11 /
    iPhone 11 Pro / iPhone 11 Pro Max dès maintenant en ligne ou dans nos
    magasins La Différence.
  </div>
</div>
<br /><br />
<div>
  <div class="appleiphone" id="notregalerie">Notre galerie</div>
  <br /><br />
  <div class="display-image">
    <div class="row">
      <div class="col s12 m7">
        <div class="card">
          <div class="card-image">
            <img
              id="tailleimage"
              src="/assets/photos-iphone/IMG_3758.jpeg"
              class="materialboxed"
            />

            <span class="card-title"></span>
            <div class="card-content">
              <p>
                Deux XR 64 giga pour un couple heureux. <br />
                <span id="gras"> La Différence, maison du bonheur.</span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

    <span id="bloque">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>

    <div class="row">
      <div class="col s12 m7">
        <div class="card">
          <div class="card-image">
            <img
              id="tailleimage"
              src="/assets/photos-iphone/IMG_2768.jpeg"
              class="materialboxed"
            />
            <span class="card-title"></span>
            <div class="card-content">
              <p>
                Tout est disponible. <br />
                <span id="gras"> La Différence, maison du bonheur.</span>
                <style>
                  #gras {
                    font-weight: bolder;
                  }
                </style>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

    <span id="bloque">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
    <div class="row">
      <div class="col s12 m7">
        <div class="card">
          <div class="card-image">
            <img
              id="tailleimage"
              src="/assets/photos-iphone/d8fe5435-c47d-43e8-a1a5-40ff1bd472b1.jpg"
              class="materialboxed"
            />

            <span class="card-title"></span>
            <div class="card-content">
              <p>
                Iphone 14 promax disponibles. <br />
                <span id="gras"> La Différence, maison du bonheur.</span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <a
    href="galerie.html"
    class="waves-effect light-blue darken-4 btn"
    id="boutonposition"
  >
    <i class="material-icons left">camera_alt </i> visiter notre galerie</a
  >
</div>
