#nosapplewatchs {
  margin-left: 10rem;
  font-size: 40px;
  font-weight: bolder;
}
#cardhorizontal {
  width: 380px;
}
.paginate {
  width: 440px;
}
.stylepaginate {
  margin-left: 46rem;
  width: 300px;
  text-align: center;
  background-color: black !important;
  color: black !important;
}
/**
  nav {
    background-color: #0000 !important;
  }
  */
.positionsearch {
  margin-left: 35rem;
  display: flex;
}
.positioninput {
  width: 600px;
}
#id1 {
  display: none;
}
#appleiphone {
  color: #ffd700;
  margin-left: 5rem;
  font-size: 22px;
  font-weight: bolder;
}
.titre {
  font-weight: bolder;
  font-size: 28px;
  margin-left: 15rem;
}
.soustitre {
  margin-left: 15rem;
  color: gray;
  width: 1000px;
}
#boutonposition {
  margin-left: 38rem;
  width: 30rem;
  height: 3rem;
  color: white;
}
.card {
  width: 350px;
}
#tailleimage {
  height: 350px;
}
.display-image {
  display: flex;
  margin-left: 30rem;
}

/** DEBUT RESPONSIVE**/

@media screen and (max-width: 896px) {
  #nosapplewatchs {
    margin-left: 5rem;
    font-size: 30px;
    font-weight: bolder;
  }
  #cardhorizontal {
    width: 225px;
  }
  .stylepaginate {
    margin-left: 6rem;
    width: 232.8px;
    height: 20px;
    text-align: center;
    background-color: black !important;
    color: black !important;
  }
  .paginate {
    width: 240px;
  }
  img {
    height: 145px;
    width: 180px;
  }
  #appleiphone {
    margin-left: 0.5rem;
    font-size: 15px;
  }
  .titre {
    font-weight: bolder;
    font-size: 17px;
    margin-left: 1rem;
  }
  .soustitre {
    margin-left: 1.5rem;
    font-size: 12px;
    color: gray;
    width: 400px;
  }

  #boutonposition {
    margin-left: 9rem;
    width: 18rem;
    height: 3rem;
    color: white;
  }
  .card {
    width: 220px;
    height: 292px;
    font-size: 10px;
  }
  #tailleimage {
    height: 220px;
  }
  .display-image {
    display: flex;
    margin-left: 0.5rem;
  }
  #bloque {
    display: none;
  }
}

@media screen and (max-width: 450px) {
  .paginate {
    width: 240px;
    margin-left: 6rem;
  }
  #boutonposition {
    margin-left: 5.5rem;
    width: 18rem;
    height: 3rem;
    color: white;
  }
  .card {
    width: 220px;
    height: 310px;
    font-size: 10px;
  }
  #tailleimage {
    height: 230px;
  }
  .display-image {
    display: flex;
    margin-left: 0.5rem;
  }

  #bloque {
    display: initial;
  }
}
