<form [formGroup]="formrecherche" (ngSubmit)="filterInput()">
  <div class="positionsearch">
    <div class="positioninput">
      <input
        type="text"
        formControlName="search"
        placeholder="Rechercher un Iphone"
      />
    </div>
    <!-- debut      presentation-->

    <div class="positionbtnsearch">
      <button id="buttonsearch" class="btn btn-secondary" type="submit">
        <i class="material-icons">search</i>
      </button>
    </div>
  </div>
</form>
<br /><br /><br />
<div id="backgroudtexte" class="p-3 mb-2 bg-light text-dark">
  <div class="titre">
    Tous les modèles d'iPhone populaires chez La Difference
  </div>

  <div class="soustitre">
    Commandez chez La Différence les modèles les plus populaires de la famille
    Apple, comme l'iPhone 7, l'iPhone 8 l'iPhone Xr, l'iPhone 11, l'iPhone 12,ou
    l'iPhone 14. Vous trouverez une bonne sélection de smartphones de haute
    qualité et d'accessoires assortis dans la boutique en ligne La Difference.
  </div>
</div>
<br /><br />

<!-- debut      carousel-->

<!-- fin      carousel-->
<br /><br />
<p id="nosIphones">NOS IPHONES</p>

<br /><br /><br /><br />

<div class="container">
  <div class="row">
    <div
      *ngFor="
        let iphone of filterinputsearch
          | paginate: { itemsPerPage: 6, currentPage: p }
      "
      class="paginate"
    >
      <div
        class="card horizontal"
        id="cardhorizontal"
        (click)="goToDetailList(iphone)"
        iphoneBorderCard
      >
        <div class="card-image">
          <img
            [src]="iphone.picture"
            class="materialboxed"
            height="190px"
            width="190px"
          />
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <p class="ecrisdanscard">{{ iphone.name }}</p>
            <p class="ecrisdanscard">{{ iphone.capacite }}</p>

            <style>
              .ecrisdanscard {
                font-size: 12.3px;
                font-weight: bolder;
              }
            </style>
            <span id="id1"><br /></span>
            <!-- 
              <button
              class="btn btn-secondary"
              (click)="goToDetailList(iphone)"
              id="plus-de-detail"
            >
              <span>Plus de details</span>
            </button>
            -->

            &nbsp;
            <button (click)="goToIphoneAcheter(iphone)" class="btn btn-warning">
              ACHETER
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="stylepaginate">
  <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>
<style>
  #plus-de-detail {
    font-size: 10.3px;
  }
</style>

<br /><br />
<br />

<app-list-applewatch></app-list-applewatch>
<!--
<div class="container mt-5 mb-5">
<div class="row">
  <div *ngFor="let d of showpost" class="">
<p><b>{{Iphone.name}}</b></p>
  </div>

</div>
</div>

-->

<!--
[ngClass]="{
  'is-invalid':
    registerForm.get('password')?.touched &&
    !registerForm.get('password')?.valid
}"

[ngClass]="{
  'is-invalid':
    registerForm.get('phone')?.touched &&
    !registerForm.get('phone')?.valid
}"
[ngClass]="{
  'is-invalid':
    registerForm.get('firstName')?.touched &&
    !registerForm.get('firstName')?.valid
}"
[ngClass]="{
  'is-invalid':
    registerForm.get('lastName')?.touched &&
    !registerForm.get('lastName')?.valid
}"
-->
