#nosIphones {
  margin-left: 10rem;
  font-size: 40px;
  font-weight: bolder;
}
#sofack {
  font-weight: bolder;
}
h3 {
  color: #000;
}
#cardhorizontal {
  width: 380px;
}
.paginate {
  width: 440px;
}
.stylepaginate {
  margin-left: 46rem;
  width: 300px;
  text-align: center;
  background-color: black !important;
  color: black !important;
}
/**
nav {
  background-color: #0000 !important;
}
*/
.positionsearch {
  margin-left: 30rem;
  display: flex;
}
.positioninput {
  width: 600px;
}
#id1 {
  display: none;
}
i {
  font-size: 30px;
  text-align: center;
}
#buttonsearch {
  width: 80px;
  height: 45px;
}
.titre {
  font-weight: bolder;
  font-size: 30px;
}
#backgroudtexte {
  width: 1200px;
  margin-left: 14rem;
  text-align: center;
}
.soustitre {
  font-size: 23px;
  color: gray;
}
/** DEBUT RESPONSIVE**/

@media screen and (max-width: 896px) {
  #nosIphones {
    margin-left: 8rem;
    font-size: 30px;
    font-weight: bolder;
  }
  #cardhorizontal {
    width: 225px;
  }
  .positionsearch {
    margin-left: 3rem;
    display: flex;
  }
  .positioninput {
    width: 300px;
  }
  i {
    font-size: 20px;
    text-align: center;
  }
  #buttonsearch {
    width: 60px;
    height: 35px;
  }
  .stylepaginate {
    margin-left: 6rem;
    width: 232.8px;
    height: 20px;
    text-align: center;
    background-color: black !important;
    color: black !important;
  }
  .paginate {
    width: 240px;
  }
  img {
    height: 140px;
    width: 180px;
  }
  #id1 {
    display: initial;
  }
  .titre {
    font-weight: bolder;
    font-size: 19px;
  }
  #backgroudtexte {
    width: 450px;
    margin-left: 1.3rem;
    text-align: center;
  }
  .soustitre {
    font-size: 14px;
    color: gray;
  }
}

@media screen and (max-width: 450px) {
  .paginate {
    width: 240px;
    margin-left: 6rem;
  }
  .titre {
    font-weight: bolder;
    font-size: 17px;
  }
  #backgroudtexte {
    width: 27rem;
    margin-left: 1rem;
    text-align: center;
  }
  .soustitre {
    font-size: 13px;
    color: gray;
  }
}
