<div *ngIf="iphone" class="row">
  <div class="col s12 m8 offset-m2">
    <h2 class="header center">
      <span id="nom">{{ iphone.name }}</span>
      <style>
        #nom {
          font-weight: bolder;
        }
        .row {
          margin-right: 6rem;
          margin-left: -9rem;
        }
      </style>
    </h2>
    <div class="positioncard">
      <div class="card horizontal hoverable">
        <div class="card-image">
          <br />
          <img
            class="materialboxed"
            [src]="iphone.picture"
            height="550px"
            width="30px"
          />
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <table class="bordered striped">
              <tbody>
                <tr>
                  <td>Nom</td>
                  <td>
                    <strong>{{ iphone.name }}</strong>
                  </td>
                </tr>
                <tr>
                  <td>Processeur</td>
                  <td>
                    <strong class="colorier">{{ iphone.processeur }}</strong>
                  </td>
                </tr>
                <tr>
                  <td>RAM</td>
                  <td>
                    <strong>{{ iphone.ram }}</strong>
                  </td>
                </tr>
                <tr>
                  <td>Batterie</td>
                  <td>
                    <strong class="colorier">{{ iphone.batterie }}</strong>
                  </td>
                </tr>
                <tr>
                  <td>Taille d'ecran</td>
                  <td>
                    <strong>{{ iphone.taille }}</strong>
                  </td>
                </tr>
                <tr>
                  <td>Camera</td>
                  <td>
                    <strong class="colorier">{{ iphone.camera }}</strong>
                  </td>
                </tr>

                <tr>
                  <td>Capacite</td>
                  <td>
                    <strong>{{ iphone.capacite }}</strong>
                  </td>
                </tr>
                <tr>
                  <td>Couleurs</td>
                  <td>
                    <strong class="colorier">{{ iphone.couleurs }}</strong>
                  </td>
                </tr>
                <tr>
                  <td>Prix</td>
                  <td>
                    <strong>{{ iphone.prix }}</strong>
                  </td>
                </tr>
                <tr>
                  <td>Gantie</td>
                  <td>
                    <strong class="colorier">{{ iphone.garantie }}</strong>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="card-action">
            <a (click)="goToIphoneList()"> Retour</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<h4 *ngIf="!iphone" class="center">Aucun iphone à afficher !</h4>
