/** DEBUT RESPONSIVE**/

@media screen and (max-width: 896px) {
  img {
    height: 230px;
    width: 190px;
  }
  .positioncard {
    margin-left: 10.5rem;
    width: 31rem;
  }
}
/**
#nom {
  color: #ffd700;
}
**/
.colorier {
  color: #ffd700;
}
