<div class="navbar-fixed" id="upward">
  <nav>
    <div class="nav-wrapper amber">
      <a id="nav1" href="#" class="brand-logo">
        LOGO
        <!-- <img src="/assets/photos-iphone/thestore.png" alt=""
      /> -->
      </a>
      <a href="#" class="sidenav-trigger" data-target="mobile-nav">
        <i class="material-icons">menu </i>
      </a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#nosIphones">Iphones</a></li>
        <!--   <li>
          <a [routerLink]="['#nosIphones']">Iphones</a>
        </li>
        -->
        <li><a href="#nosapplewatchs">Apple Watch</a></li>

        <li><a href="#autreinformation">Autres Informations</a></li>
        <li><a href="#notregalerie">Galerie</a></li>
        <li><a href="#nouscontacter">Nous contatcter</a></li>
      </ul>
    </div>
  </nav>
</div>

<ul class="sidenav" id="mobile-nav">
  <li>
    <a href="#nosIphones">Iphones</a>
  </li>
  <li><a href="#nosapplewatchs">Apple Watch</a></li>

  <li><a href="#autreinformation">Autres Informations</a></li>
  <li><a href="#notregalerie">Galerie</a></li>
  <li><a href="#nouscontacter">Nous contatcter</a></li>
</ul>
