<nav>
  <div class="nav-wrapper amber">
    <span id="nav1" href="#" class="brand-logo">
      <img
        src="./assets/photos-iphone/photoLADIFFERENCE.jpg"
        height="68px"
        width="300px"
        alt=""
      />
    </span>

    <div class="menu">
      <ul>
        <li><a href="#nostelephones">Telephones</a></li>
        <li><a href="#">Macbooks</a></li>
        <li><a href="#">Accessoires</a></li>
        <li><a href="#">Special promo</a></li>
        <li><a href="#nouscontacter">Nous contatcter</a></li>
      </ul>
    </div>
  </div>
</nav>
