a {
  text-decoration: none;
  color: #000000 !important;
}
@media screen and (max-width: 897px) {
  i {
    margin-left: 30rem;
  }
}

@media screen and (max-width: 450px) {
  i {
    margin-left: 25rem;
  }
}
