<nav>
  <div class="nav-wrapper amber">
    <span id="nav1" href="#" class="brand-logo"> </span>

    <div class="menu">
      <ul id="navigation-bar">
        <!-- 
        <a id="menu-icon" class="menu-icon">
          <i class="fa fa-bars" ></i>
        </a> -->
        <label>
          <input
            type="checkbox"
            value="Carte bancaire"
            formControlName="checkbox1"
          />
          <span>MENU</span>
        </label>

        <li><a href="#nosIphones">Iphones</a></li>
        <li><a href="#nosapplewatchs">Apple Watch</a></li>

        <li><a href="#">Special promo</a></li>
        <li><a href="#nouscontacter">Nous contatcter</a></li>
      </ul>
    </div>
  </div>
</nav>
