.entete {
  text-align: center;
}
.petittexte {
  margin-left: 18rem;
  text-align: center;
  font-size: 20px;
  /** background-color: rgba(30, 144, 255, 0.09);*/
  background-color: rgba(255, 165, 0, 0.1);
  height: 190px;
  width: 1100px;
}
.petittexte h6 {
  color: red;
}
/** FORM */
#senregister {
  width: 600px;
}
#decale {
  margin-right: 25rem;
}
#submit1 {
  text-align: center;
  width: 600px;
  font-weight: bolder;
}
.positionbutton {
  text-align: center;
}
#positioncard {
  width: 1400px;
  margin-left: 6.2rem;
}
#positioncard3 {
  width: 1400px;
  margin-left: 6.2rem;
}
#positioncard2 {
  width: 1400px;
  margin-left: 6.2rem;
}
#detail {
  color: red !important;
}

/** responsive**/

@media screen and (max-width: 896px) {
  .petittexte {
    margin-left: 1rem;
    font-size: 20px;
    height: 270px;
    width: 450px;
  }
  .view {
    margin-left: -14rem;
    width: 200px;
  }

  .card-panel {
    margin-left: -6.8rem;
    width: 410px;
  }
  #positioncard {
    width: 460px;
  }
  #positioncard2 {
    width: 460px;
    height: 420px;
    margin-left: 15rem;
  }
  #positioncard3 {
    width: 460px;
    height: 194px;
    margin-left: 15rem;
  }
  #id2 {
    margin-left: 22rem;
    margin-top: 4rem;
  }
  #id2 h2 {
    display: none;
  }
  #id2 #masquer {
    display: none;
  }
  #id3 {
    margin-left: 22rem;
    margin-top: 2.5rem;
  }
  #id3 h2 {
    display: none;
  }
  #submit1 {
    width: 400px;
    margin-left: 17rem;
  }
}

@media screen and (max-width: 450px) {
  .petittexte {
    margin-left: 1rem;
    font-size: 18px;
    height: 270px;
    width: 27rem;
  }
  .card-panel {
    margin-left: -6.8rem;
    width: 26.8rem;
  }
  #positioncard {
    width: 27.4rem;
  }
  #positioncard2 {
    width: 27.4rem;
    height: 400px;
  }
  #positioncard3 {
    width: 27.4rem;
    height: 194px;
  }
  #positioninsidecard1 {
    margin-left: -15.8rem;
    margin-top: -0.1rem;
  }
  #positioninsidecard2 {
    margin-left: -15.8rem;
    margin-top: -0.1rem;
  }
  #positioninsidecard3 {
    margin-left: -15.8rem;
    margin-top: -1rem;
  }
  #submit1 {
    text-align: center;
    width: 330px;
    font-weight: bolder;
  }
}
