<div class="p-3 mb-2 bg-dark text-white" id="espace">
  <div id="bg1">
    <div id="nouscontacter">NOUS CONTACTER</div>
    <br /><br />

    <ul>
      <li><span class="contact">Email:</span> Ladifference@gmail.com</li>
      <li>
        <span class="contact">Adresse:</span> Douala - Bonamoussadi - Rue IPPB,
        <br />
        <span id="situe">situé a 20m du collège IPPB</span>
      </li>
      <li>
        <span class="contact">Telephone:</span> (+237) 698 236 925 / 673 667 349
      </li>
    </ul>
    <br /><br /><br />
    <div>
      <span id="situe">N'HESITEZ PAS A VOUS ABONNER AUX DIFFERENTES PAGES</span>
    </div>
    <div class="images">
      <a href="https://instagram.com/la_difference_store_?igshid=YmMyMTA2M2Y=">
        <img
          src="https://upload.wikimedia.org/wikipedia/commons/9/95/Instagram_logo_2022.svg"
          height="20px"
          width="20px"
          alt=""
        /> </a
      >&nbsp;&nbsp;&nbsp;
      <a href="https://www.facebook.com/glenneruin.tchamagam">
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQPl0s8UHFa04top5NJz7lFeghEZ-qrlcBDeJ1q9M-5-RnJt3rcqWE49lEaUcbkwQmE5F8&usqp=CAU"
          height="20px"
          width="20px"
          alt=""
        /> </a
      >&nbsp;&nbsp;&nbsp;
      <a href="">
        <img
          src="https://play-lh.googleusercontent.com/KxeSAjPTKliCErbivNiXrd6cTwfbqUJcbSRPe_IBVK_YmwckfMRS1VIHz-5cgT09yMo"
          height="20px"
          width="20px"
          alt=""
        />
      </a>
    </div>
  </div>

  <div id="bg2">
    <div class="bg2droite">
      DITEZ - NOUS QUELQUES CHOSES <br /><br />
      <span class="bg2droite1"
        ><br />
        Avez-vous une question, une suggestion, ou même une requête? Alors
        envoyez-nous un mail maintenant! Et vous aurez une reponse dans les plus
        brefs delais possible
      </span>
      <div>
        <a href="mailto:glennwouagam@gmail.com">Nous envoyez un mail</a>
      </div>
    </div>
  </div>
</div>
