<br />

<div class="p-3 mb-2 bg-dark text-white" id="espace">
  <div id="bg1">
    <br /><br /><br /><br />
    <img
      id="id4"
      src="/assets/photos-iphone/photo_2022-12-11_12-34-16.jpg"
      height="60px"
      width="230px"
    />
    <br /><br /><br />
    <div class="div1">
      <ul>
        <li>
          <span class="class1" id="nouscontacter">Email: </span>
          thestore@gmail.com
        </li>
        <li><span class="class1">Adresse:</span>Situé a makepe Rhone Polenc</li>
        <li>
          <span class="class1">Telephone:</span> (+237) 693 39 51 94 / 655663936
        </li>
      </ul>
    </div>
    <br /><br />
    <div><span id="id2">SUIVEZ NOUS SUR NOS DIFFERENTES PAGES</span></div>
    <br />

    <div class="images">
      <a href="https://www.instagram.com/the_store237/tagged/?hl=fr">
        <img
          id="idimage"
          src="https://upload.wikimedia.org/wikipedia/commons/9/95/Instagram_logo_2022.svg"
          height="20px"
          width="20px"
          alt=""
        /> </a
      >&nbsp;&nbsp;&nbsp;
      <a
        href="https://web.facebook.com/pages/category/product-service/The-Store-100141491785287/?_rdc=1&_rdr"
      >
        <img
          id="idimage"
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQPl0s8UHFa04top5NJz7lFeghEZ-qrlcBDeJ1q9M-5-RnJt3rcqWE49lEaUcbkwQmE5F8&usqp=CAU"
          height="20px"
          width="20px"
          alt=""
        /> </a
      >&nbsp;&nbsp;&nbsp;
      <a href="">
        <img
          id="idimage"
          src="https://play-lh.googleusercontent.com/KxeSAjPTKliCErbivNiXrd6cTwfbqUJcbSRPe_IBVK_YmwckfMRS1VIHz-5cgT09yMo"
          height="20px"
          width="20px"
          alt=""
        />
      </a>
    </div>
    <br /><br />
    <div id="masquer1">
      <!--DEBUT PARTIE VISIBLE QUE SUR MOBILE-->
      <span id="id1faux"> DITEZ - NOUS QUELQUES CHOSES </span> <br />
      <span class="bg2droite1faux"
        ><br />
        Avez-vous une question, une suggestion, ou même une requête? Alors
        envoyez-nous un mail maintenant! Et vous aurez une reponse dans les plus
        brefs delais possible
      </span>
      <div>
        <a href="mailto:glennwouagam@gmail.com">Nous envoyez un mail</a>
      </div>
    </div>
    <!--FIN PARTIE VISIBLE QUE SUR MOBILE-->
  </div>

  <div id="bg2">
    <div class="bg2droite">
      <br /><br /><br /><br />

      <span id="id1"> DITEZ - NOUS QUELQUES CHOSES </span> <br /><br />
      <span class="bg2droite1"
        ><br />
        Avez-vous une question, une suggestion, ou même une requête? Alors
        envoyez-nous un mail maintenant! Et vous aurez une reponse dans les plus
        brefs delais possible
      </span>
      <div>
        <a href="mailto:glennwouagam@gmail.com">Nous envoyez un mail</a>
      </div>
    </div>
  </div>
  <a class="btn-floating pulse" href="#upward" id="centrerupward"
    ><i class="material-icons">arrow_upward</i></a
  >
</div>
