#senregister {
  width: 600px;
}
#decale {
  margin-right: 25rem;
}
#submit1 {
  text-align: center;
  width: 400px;
  font-weight: bolder;
}
.positionbutton {
  text-align: center;
}
#positioncard {
  width: 1400px;
  margin-left: 6.5rem;
}
