<div *ngIf="iphone" class="row">
  <div class="entete">
    <h1>Finaliser votre commande de votre {{ iphone.name }}</h1>
    <hr />
    <br />
  </div>
  <div class="center">
    <div class="petittexte">
      <ul>
        <li>
          Chez La Difference faitez vos achats en toutes sécurite et a bon Prix.
        </li>
        <li>
          ***Modele Européen et Américain*** Occasion, scellé et original
          smartphone.<br />
          Les Telephones sont vendus avec chargeurs et accessoires(pochette
          scillicon et écran de protection).
        </li>
      </ul>
      <h5>Entrez vos coordonnées ci-dessous pour completer votre achat:</h5>
      <br />
      <h6>Total estimé entre {{ iphone.prix }}</h6>
    </div>
  </div>
</div>
<br /><br /><br />

<div class="view">
  <form [formGroup]="registerForm" (ngSubmit)="saveData()">
    <div class="card" id="positioncard">
      <div class="row" id="positioninsidecard1">
        <div class="col s6 offset-s3" id="decale">
          <h2 class="header center">
            <span id="infoclient">Informations du client</span>
          </h2>

          <div class="card-panel">
            <div class="form-group">
              <label for="nom">Nom complet</label>
              <input
                placeholder="Entrez votre nom et prenom"
                type="text"
                class="form-control"
                id="nom"
                formControlName="firstName"
                required
                [ngClass]="{
                  'is-invalid':
                    registerForm.get('firstName')?.touched &&
                    !registerForm.get('firstName')?.valid
                }"
              />
              <div class="invalid-feedback">
                <span
                  *ngIf="registerForm.get('firstName')?.errors?.['required']"
                  >entrez votre nom</span
                >
                <span
                  *ngIf="registerForm.get('firstName')?.errors?.['minlength']"
                >
                  minimum 2 caracteres
                </span>
              </div>
              <br />

              <label for="prenom">E-mail</label>
              <input
                placeholder="Entrez votre mail"
                type="text"
                class="form-control"
                id="mail"
                formControlName="mail"
                required
                [ngClass]="{
                  'is-invalid':
                    registerForm.get('mail')?.touched &&
                    !registerForm.get('mail')?.valid
                }"
              />
              <div class="invalid-feedback">
                <span *ngIf="registerForm.get('mail')?.errors?.['required']"
                  >entrez votre E-mail</span
                >
                <span *ngIf="registerForm.get('mail')?.errors?.['minlength']">
                  votre E-mail doit contenir "@"
                </span>
              </div>

              <br />
              <label for="telephone">Téléphone</label>
              <input
                placeholder="Entrez votre Téléphone"
                type="number"
                id="phone"
                class="form-control"
                formControlName="phone"
                pattern="^6[0-9]{8}"
                required
                [ngClass]="{
                  'is-invalid':
                    registerForm.get('phone')?.touched &&
                    !registerForm.get('phone')?.valid
                }"
              />
              <div class="invalid-feedback">
                <span *ngIf="registerForm.get('phone')?.errors?.['required']"
                  >entrez votre téléphone</span
                >
                <span *ngIf="registerForm.get('phone')?.errors?.['minlength']">
                  téléphone incorrecte
                </span>
              </div>
              <!--
              {{ "1000000" | number: "3." }}
-->
              <br />
              <label for="ville">Ville</label>
              <input
                placeholder="Entrez votre ville"
                type="text"
                id="city"
                class="form-control"
                formControlName="city"
                required
                [ngClass]="{
                  'is-invalid':
                    registerForm.get('city')?.touched &&
                    !registerForm.get('city')?.valid
                }"
              />
              <div class="invalid-feedback">
                <span *ngIf="registerForm.get('city')?.errors?.['required']"
                  >entrez votre Ville</span
                >
                <span *ngIf="registerForm.get('city')?.errors?.['minlength']">
                  Ville incorrect
                </span>
              </div>
              <br />
              <label for="position"
                >Plus de detail sur votre position pour votre livraison</label
              >
              <textarea
                id
                class="form-control"
                id="textarea"
                formControlName="position"
                required
                [ngClass]="{
                  'is-invalid':
                    registerForm.get('position')?.touched &&
                    !registerForm.get('position')?.valid
                }"
              ></textarea>
              <div class="invalid-feedback">
                <span *ngIf="registerForm.get('position')?.errors?.['required']"
                  >entrez votre position pour le livraison</span
                >
                <span
                  *ngIf="registerForm.get('position')?.errors?.['minlength']"
                >
                  Bien nous indiquer votre position pour la livraison
                </span>
              </div>

              <br />

              <br />
            </div>
          </div>
        </div>
      </div>
    </div>

    <br /><br />
    <div>
      <div class="card" id="positioncard2">
        <div class="view" id="positioninsidecard2">
          <div class="row" id="id2">
            <div class="col s6 offset-s3" id="decale">
              <h2 class="header center">
                <span>Informations sur le Téléphone</span>
              </h2>
              <span id="masquer">
                Avant de remplir les champs ci-dessous, veillez verifier les
                informations de votre telephone dans "<span id="detail"
                  >detail iphone</span
                >"</span
              >

              <div class="card-panel">
                <div class="form-group">
                  <div class="col-md-6 mb-6">
                    <label
                      >Quantite <br />
                      (vous desirez acheter combien de téléphone ?)</label
                    >
                    <select
                      id=""
                      class="form-control"
                      formControlName="quantite"
                      required
                    >
                      <option *ngFor="let qnt of ['1']" [value]="qnt">
                        {{ qnt }}
                      </option>
                    </select>
                  </div>

                  <div class="col-md-6 mb-6">
                    <label
                      >Capacite <br />
                      (Vous preférez quelle capacite ?)</label
                    >
                    <select
                      id=""
                      class="form-control"
                      formControlName="capacite"
                      required
                    >
                      <option
                        *ngFor="
                          let cpt of [
                            '32 giga',
                            '64 giga',
                            '128 giga',
                            '256 giga',
                            '512 giga'
                          ]
                        "
                        [value]="cpt"
                      >
                        {{ cpt }}
                      </option>
                    </select>
                  </div>

                  <div class="col-md-6 mb-6">
                    <label
                      >Couleurs <br />
                      (Vous preférez quelle couleure du téléphone ?)</label
                    >
                    <select
                      id=""
                      class="form-control"
                      formControlName="couleurs"
                      required
                    >
                      <option value=""></option>
                      <option
                        *ngFor="
                          let clr of [
                            'Noire',
                            'Blanche',
                            'Blue',
                            'Rouge',
                            'Verte',
                            'Gold'
                          ]
                        "
                        [value]="clr"
                      >
                        {{ clr }}
                      </option>
                    </select>
                  </div>

                  <br />

                  <br />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br /><br />
    <div>
      <div class="card" id="positioncard3">
        <div class="view" id="positioninsidecard3">
          <div class="row" id="id3">
            <div class="col s6 offset-s3" id="decale">
              <h2 class="header center">
                <span>Moyens de payement</span>
              </h2>

              <div class="card-panel">
                <div class="form-group">
                  <div class="col-md-6 mb-6">
                    <label>
                      <input
                        type="checkbox"
                        value="OM / MOMO"
                        formControlName="checkbox1"
                        required
                      />
                      <span>OM / MOMO</span>
                    </label>
                    &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;
                    <label>
                      <input
                        type="checkbox"
                        value="Carte bancaire"
                        formControlName="checkbox2"
                      />
                      <span>Carte bancaire</span>
                    </label>
                  </div>
                  <div *ngIf="registerForm.get('checkbox1')?.value">
                    <br />
                    Pour effectuer votre payement, composez le
                    <br />
                    <span class="text-success fw-bold">
                      #150*14*montatnt*237#
                    </span>

                    <br />
                  </div>
                  <div *ngIf="registerForm.get('checkbox2')?.value">
                    numero carte bancaire
                  </div>
                  <br />

                  <br />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br />
    <br /><br />
    <div class="positionbutton">
      <button
        type="submit"
        id="submit1"
        class="btn btn-success"
        [disabled]="!registerForm.valid"
      >
        Valider votre achat
      </button>
    </div>
  </form>
</div>

<br />
